In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
from pyplier.utils import tcrossprod

In [3]:
C_file = Path("/workspaces/pyplier", "tests", "data", "plier", "C.csv.gz")
C = pd.read_csv(C_file, index_col="gene")

In [4]:
U_file = Path("/workspaces/pyplier", "tests", "data", "plier", "U.csv.gz")
U = pd.read_csv(U_file, index_col="pathway")

In [5]:
B_file = Path("/workspaces/pyplier", "tests", "data", "plier", "B.csv.gz")
B = pd.read_csv(B_file)

In [6]:
Y_file = Path("/workspaces/pyplier", "tests", "data", "plier", "Y.csv.gz")
Y = pd.read_csv(Y_file, index_col="gene")

In [7]:
L1 = 18.43058

In [ ]:
# Z1 <- Y %*% t(B)
# Z2 <- L1 * C %*% U
# ratio <- median((Z2 / Z1)[Z2 > 0 & Z1 > 0])
# Z <- (Z1 + Z2) %*% solve(tcrossprod(B) + L1 * diag(k))

In [19]:
Z1 = tcrossprod(Y, B)

In [23]:
Z1.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
gene,,,,,,,,,,,,,,,,,,,,,
GAS6,-36.552729,2.530855,14.568929,2.487021,9.212699,1.058037,-28.095877,7.955335,2.736065,-4.041018,...,-0.154229,0.426022,1.968138,4.062756,8.955894,5.550971,0.203083,11.455851,-8.756034,-0.636750
MMP14,-6.566104,-9.136135,-4.460074,7.860144,16.019985,0.772065,-10.079061,0.827496,0.353328,-3.876208,...,6.164597,-2.861168,8.223380,2.896081,6.668585,-0.162725,-3.111202,6.801584,2.637491,13.524848
MARCKSL1,-47.189644,-9.502334,1.540901,-11.823363,1.973472,-4.057458,-19.376432,-6.466718,-8.884719,-10.523134,...,11.465849,9.568006,19.384425,11.477516,23.158624,3.919922,-4.732246,27.873670,10.092301,15.730541
SPARC,-11.726220,-2.391004,0.079585,-2.844378,-11.510601,-5.782883,-3.838961,1.731084,-5.634931,-4.499036,...,0.231016,8.003590,-2.692737,-0.998374,2.487808,-0.836357,-2.515782,1.142807,0.238749,-1.442024
CTSD,-51.308343,3.227067,5.969161,-9.969707,13.186873,-14.077830,-28.387670,-6.008943,-5.538837,-12.692997,...,10.616100,10.723009,15.753939,12.874031,20.210848,4.658249,-1.548804,27.685472,0.931452,10.394118

In [21]:
Z2 = L1 * C @ U

In [24]:
Z2.head()

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
gene,,,,,,,,,,,,,,,,,,,,,
GAS6,0.0,0.0,0.0,0.0,0.178213,0.0,0.0,0.363839,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.715375,0.0,0.0,0.0
MMP14,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
MARCKSL1,0.0,0.0,0.0,0.0,0.178213,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.715375,0.0,0.0,0.0
SPARC,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
CTSD,0.0,0.0,0.0,0.0,0.247699,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [31]:
Z1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
gene,,,,,,,,,,,,,,,,,,,,,
GAS6,-36.552729,2.530855,14.568929,2.487021,9.212699,1.058037,-28.095877,7.955335,2.736065,-4.041018,...,-0.154229,0.426022,1.968138,4.062756,8.955894,5.550971,0.203083,11.455851,-8.756034,-0.636750
MMP14,-6.566104,-9.136135,-4.460074,7.860144,16.019985,0.772065,-10.079061,0.827496,0.353328,-3.876208,...,6.164597,-2.861168,8.223380,2.896081,6.668585,-0.162725,-3.111202,6.801584,2.637491,13.524848
MARCKSL1,-47.189644,-9.502334,1.540901,-11.823363,1.973472,-4.057458,-19.376432,-6.466718,-8.884719,-10.523134,...,11.465849,9.568006,19.384425,11.477516,23.158624,3.919922,-4.732246,27.873670,10.092301,15.730541
SPARC,-11.726220,-2.391004,0.079585,-2.844378,-11.510601,-5.782883,-3.838961,1.731084,-5.634931,-4.499036,...,0.231016,8.003590,-2.692737,-0.998374,2.487808,-0.836357,-2.515782,1.142807,0.238749,-1.442024
CTSD,-51.308343,3.227067,5.969161,-9.969707,13.186873,-14.077830,-28.387670,-6.008943,-5.538837,-12.692997,...,10.616100,10.723009,15.753939,12.874031,20.210848,4.658249,-1.548804,27.685472,0.931452,10.394118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CFL2,31.615089,-14.878236,-12.341595,-11.076529,-1.156355,3.434874,24.757098,8.060014,4.729357,-0.727772,...,1.851066,-4.729758,5.821171,-6.210288,-5.382234,-2.837999,6.013130,-3.149484,17.837492,8.358675
CFL1,-30.053558,-25.914351,-8.873971,-1.898953,11.221040,-5.226212,-0.920090,-2.851408,-3.514043,-10.475732,...,15.585609,4.058417,18.756784,5.934747,22.016504,1.282560,-5.021155,21.580068,10.657967,25.742933
SELL,24.369168,40.566941,-4.203177,-3.832133,-0.050229,-3.045912,-5.066280,-4.109284,-0.124197,16.514951,...,-13.500704,5.524945,-16.851559,3.497109,-15.343965,0.961084,11.889899,-16.409229,-9.729560,-27.799315
GNGT2,-24.656495,-20.300824,-3.206087,-6.554132,11.218293,-6.482819,2.020413,-7.527786,6.981008,-10.157711,...,8.826316,-2.070886,19.171109,3.129812,15.718902,2.094352,-1.273633,19.789908,7.213475,18.545942
SERPINH1,-25.415600,-24.834797,4.728843,17.537599,-2.400248,9.323991,-3.435879,-8.212433,5.998209,-12.034717,...,6.977791,-3.670420,4.573494,-1.682766,14.998456,-0.336384,-8.610033,10.976616,1.170177,13.739104

In [32]:
Z1_file = Path("/workspaces/pyplier", "tests", "data", "plier", "Z1.csv.gz")
Z1_expected = pd.read_csv(Z1_file, index_col="gene")
Z1_expected

In [38]:
Z1_expected.columns = range(Z1_expected.shape[1])

In [33]:
Z2_file = Path("/workspaces/pyplier", "tests", "data", "plier", "Z2.csv.gz")
Z2_expected = pd.read_csv(Z2_file, index_col="gene")

In [41]:
pd.testing.assert_frame_equal(Z1_expected, Z1)

In [55]:
Z2_expected.columns = range(1,Z2_expected.shape[1]+1)
Z2.columns = range(1,Z2.shape[1]+1)

Z2_expected = Z2_expected.astype(np.float64)
Z2 = Z2.astype(np.float64)

In [56]:
pd.testing.assert_frame_equal(Z2_expected, Z2)

In [57]:
Z1 > 0

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
gene,,,,,,,,,,,,,,,,,,,,,
GAS6,False,True,True,True,True,True,False,True,True,False,...,False,True,True,True,True,True,True,True,False,False
MMP14,False,False,False,True,True,True,False,True,True,False,...,True,False,True,True,True,False,False,True,True,True
MARCKSL1,False,False,True,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
SPARC,False,False,True,False,False,False,False,True,False,False,...,True,True,False,False,True,False,False,True,True,False
CTSD,False,True,True,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CFL2,True,False,False,False,False,True,True,True,True,False,...,True,False,True,False,False,False,True,False,True,True
CFL1,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
SELL,True,True,False,False,False,False,False,False,False,True,...,False,True,False,True,False,True,True,False,False,False
GNGT2,False,False,False,False,True,False,True,False,True,False,...,True,False,True,True,True,True,False,True,True,True
SERPINH1,False,False,True,True,False,True,False,False,True,False,...,True,False,True,False,True,False,False,True,True,True

In [58]:
Z1_expected > 0

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
gene,,,,,,,,,,,,,,,,,,,,,
GAS6,False,True,True,True,True,True,False,True,True,False,...,False,True,True,True,True,True,True,True,False,False
MMP14,False,False,False,True,True,True,False,True,True,False,...,True,False,True,True,True,False,False,True,True,True
MARCKSL1,False,False,True,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
SPARC,False,False,True,False,False,False,False,True,False,False,...,True,True,False,False,True,False,False,True,True,False
CTSD,False,True,True,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CFL2,True,False,False,False,False,True,True,True,True,False,...,True,False,True,False,False,False,True,False,True,True
CFL1,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
SELL,True,True,False,False,False,False,False,False,False,True,...,False,True,False,True,False,True,True,False,False,False
GNGT2,False,False,False,False,True,False,True,False,True,False,...,True,False,True,True,True,True,False,True,True,True
SERPINH1,False,False,True,True,False,True,False,False,True,False,...,True,False,True,False,True,False,False,True,True,True

In [62]:
(Z2/Z1)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
gene,,,,,,,,,,,,,,,,,,,,,
GAS6,NaN,0.0,0.0,0.0,0.0,0.168437,-0.0,0.0,0.132979,-0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.062446,-0.0,-0.0,NaN
MMP14,NaN,-0.0,-0.0,0.0,0.0,0.000000,-0.0,0.0,0.000000,-0.0,...,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.000000,0.0,0.0,NaN
MARCKSL1,NaN,-0.0,0.0,-0.0,0.0,-0.043922,-0.0,-0.0,-0.000000,-0.0,...,0.0,0.0,0.0,0.0,0.0,-0.0,0.025665,0.0,0.0,NaN
SPARC,NaN,-0.0,0.0,-0.0,-0.0,-0.000000,-0.0,0.0,-0.000000,-0.0,...,0.0,-0.0,-0.0,0.0,-0.0,-0.0,0.000000,0.0,-0.0,NaN
CTSD,NaN,0.0,0.0,-0.0,0.0,-0.017595,-0.0,-0.0,-0.000000,-0.0,...,0.0,0.0,0.0,0.0,0.0,-0.0,0.000000,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CFL2,NaN,-0.0,-0.0,-0.0,-0.0,0.000000,0.0,0.0,0.000000,-0.0,...,-0.0,0.0,-0.0,-0.0,-0.0,0.0,-0.000000,0.0,0.0,NaN
CFL1,NaN,-0.0,-0.0,-0.0,0.0,-0.000000,-0.0,-0.0,-0.000000,-0.0,...,0.0,0.0,0.0,0.0,0.0,-0.0,0.000000,0.0,0.0,NaN
SELL,NaN,0.0,-0.0,-0.0,-0.0,-0.000000,-0.0,-0.0,-0.000000,0.0,...,0.0,-0.0,0.0,-0.0,0.0,0.0,-0.000000,-0.0,-0.0,NaN
GNGT2,NaN,-0.0,-0.0,-0.0,0.0,-0.000000,0.0,-0.0,0.000000,-0.0,...,-0.0,0.0,0.0,0.0,0.0,-0.0,0.000000,0.0,0.0,NaN
SERPINH1,NaN,-0.0,0.0,0.0,-0.0,0.000000,-0.0,-0.0,0.000000,-0.0,...,-0.0,0.0,-0.0,0.0,-0.0,-0.0,0.000000,0.0,0.0,NaN

In [106]:
alfa = np.ravel(np.divide(Z2,np.asarray(Z1))[(Z2 > 0) & (Z1 > 0)], order="F")
alfa[~np.isnan(alfa)]

array([-0.00792988, -0.00280036, -0.003879  , ...,  0.01619508,
        0.01798641,  0.02046875])

In [156]:
a = np.argwhere(np.asarray(Z2.T.stack()) > 0).flatten()

In [157]:
b = np.argwhere(np.asarray(Z1.T.stack()) > 0).flatten()

In [162]:
len(alfa)

3709

In [173]:
np.divide(Z2,np.asarray(Z1)).T.stack().values

array([-0., -0., -0., ..., -0.,  0.,  0.])

In [168]:
np.intersect1d(a,b)

array([   179,    453,    642, ..., 176567, 176585, 176631])

In [175]:
np.median(np.divide(Z2,np.asarray(Z1)).T.stack().values[np.intersect1d(a,b)])

0.026880297530327092

In [12]:
U.sum(axis="index")[U.sum(axis="index") > 0].to_dict()

{'1': 0.008306146132479,
 '2': 0.16465869953484039,
 '3': 0.0121126494884639,
 '5': 0.1022415497783703,
 '6': 0.0489118406449056,
 '7': 0.0330565404295122,
 '8': 0.1631114743606517,
 '9': 0.0369090393040176,
 '10': 0.0131603372254415,
 '11': 0.1413386593612325,
 '13': 0.1116930284999555,
 '15': 0.0597674465876047,
 '17': 0.004285728753202949,
 '19': 0.0072037756624452,
 '20': 0.0805170195986181,
 '21': 0.0004903871258549674,
 '23': 0.0589035693924034,
 '27': 0.1188071084789443,
 '28': 0.0184578184521624,
 '29': 0.0222930663150582,
 '30': 0.038030612992341895}

In [14]:
U.max(axis="index")

1     0.008306
2     0.162559
3     0.005948
4     0.000000
5     0.071612
6     0.034308
7     0.033057
8     0.113045
9     0.019531
10    0.013160
11    0.057909
12    0.000000
13    0.049065
14    0.000000
15    0.035025
16    0.000000
17    0.003822
18    0.000000
19    0.007204
20    0.079991
21    0.000490
22    0.000000
23    0.014992
24    0.000000
25    0.000000
26    0.000000
27    0.038815
28    0.018458
29    0.022293
30    0.026235
dtype: float64