In [11]:
import pandas as pd
import numpy as np
from pathlib import Path
from scipy.linalg import qr

In [2]:
randmat = Path("/home/milo/workspace/pyplier/tests/data/random_matrix.csv")

In [5]:
randmat = pd.read_csv(
    Path("/home/milo/workspace/pyplier/tests/data/random_matrix.csv"),
    sep=",",
    index_col=0,
)

In [6]:
randmat

         V1        V2        V3        V4        V5        V6
1  1.985701 -0.368637 -0.461630 -0.079904  0.524675  0.424991
2  0.151315  1.015526  0.179885  1.096020 -1.149598 -0.844024
3 -1.017499  0.331811 -0.538168  0.550502 -1.777789 -0.115440
4  0.086319 -0.070886 -0.225482 -1.462508 -0.236250 -0.187582
5  0.925242  0.245852  0.221864  0.188532 -0.319050 -0.110001
6 -1.106657 -1.861775  1.119522  2.446604  0.553282 -0.993332

In [8]:
alfa, beta = np.linalg.qr(randmat)

In [9]:
alfa.shape

(6, 6)

In [10]:
beta.shape

(6, 6)

In [15]:
q, r, p = qr(randmat, pivoting=True, mode="full")

In [16]:
def nonEstimable(x: pd.DataFrame):

    p = x.shape[1]

    q, _, pivot = qr(x, pivoting=True)
    qrank = q.shape[0]

    if qrank < p:
        n = x.columns.values
    else:
        n = range(p)

    notest = n[pivot[(qrank + 1) : p]]
    blank = notest == ""

    if any(blank):
        notest[blank] = str(range((qrank + 1), p)[blank])
        return notest
    else:
        return None

In [18]:
x = randmat

In [19]:
p = x.shape[1]

q, _, pivot = qr(x, pivoting=True)
qrank = q.shape[0]

In [23]:
if qrank < p:
    n = x.columns.values
else:
    n = range(p)

In [30]:
n

range(0, 6)

In [29]:
pivot[range(qrank + 1, p)]

array([], dtype=int32)

In [25]:
notest = n[pivot[(qrank + 1) : p]]

TypeError: only integer scalar arrays can be converted to a scalar index